.form__checkbox {
  position: absolute;
  left: -999em;
  opacity: 0;

  &-wrap {
    display: block;

    + label {
      display: block;
      margin-left: $form-checkbox-label-margin;
      cursor: pointer;
      padding-top: $form-checkbox-label-padding-top;
      color: $form-checkbox-label-color;
      font-size: $form-checkbox-label-font-size;
      user-select: none;
    }

    &--small + label {
      margin-left: $form-checkbox-label-margin-small;
      padding-top: $form-checkbox-label-padding-top-small;
      font-size: $form-checkbox-label-font-size-small;
    }
  }

  &-label {
    display: block;
    position: relative;
    width: $form-checkbox-size;
    height: $form-checkbox-size;
    min-height: $form-checkbox-size;
    overflow: hidden;
    text-indent: -999px;
    user-select: none;

    .form__checkbox--small + & {
      width: $form-checkbox-size-small;
      height: $form-checkbox-size-small;
      min-height: $form-checkbox-size-small;
    }

    .form__checkbox:not(:disabled) + & {
      cursor: pointer;
    }

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s border, .3s background-color;
      border: 1px solid $form-checkbox-border-color;
      border-radius: $form-checkbox-border-radius;
      background: $form-checkbox-background;
      width: $form-checkbox-size;
      height: $form-checkbox-size;
      content: "";
      box-sizing: border-box;

      .form__checkbox--small + & {
        width: $form-checkbox-size-small;
        height: $form-checkbox-size-small;
      }
    }

    .form__checkbox:checked + &:before {
      border-color: $form-checkbox-border-color-checked;
      background: $form-checkbox-background-checked;
    }

    .form__checkbox:disabled + &:before {
      border-color: $form-checkbox-border-color-disabled;
      background: $form-checkbox-background-disabled;
    }

    .form__checkbox:hover:not(:disabled) + &:before {
      border-color: $form-checkbox-border-color-hover;
    }

    .form__item--has-error &:before {
      border-color: $form-checkbox-border-color-error;
    }

    .form__checkbox:disabled + &:after {
      color: $form-checkbox-icon-color-disabled;
    }

    &:after {
      @include icon;
      position: absolute;
      top: #{($form-checkbox-size - $form-checkbox-icon-font-size) / 2};
      left: #{($form-checkbox-size - $form-checkbox-icon-font-size) / 2};
      transition: .4s opacity;
      opacity: 0;
      text-indent: 0;
      color: $form-checkbox-icon-color;
      font-size: $form-checkbox-icon-font-size;
      content: $form-checkbox-icon;

      .form__checkbox--small + & {
        top: #{($form-checkbox-size-small - $form-checkbox-icon-font-size-small) / 2};
        left: #{($form-checkbox-size-small - $form-checkbox-icon-font-size-small) / 2};
        font-size: $form-checkbox-icon-font-size-small;
      }
    }

    .form__checkbox:checked + &:after {
      opacity: 1;
    }
  }
}
