.form__input {
  transition: .3s border-color, .3s box-shadow;
  outline: none;
  border: 1px solid $form-input-border-color;
  border-radius: $form-input-border-radius;
  box-shadow: $form-input-box-shadow;
  background: $form-input-background;
  padding: $form-input-padding;
  width: 100%;
  height: $form-input-height;
  color: $form-input-text-color;
  font-size: $form-input-text-font-size;

  &:focus {
    border-color: $form-input-border-color-focus;
    box-shadow: $form-input-box-shadow-focus;
  }

  &::placeholder {
    color: $form-placeholder-color;
  }

  &:disabled {
    border-color: $form-input-border-color-disabled;
    background: $form-input-background-disabled;
  }

  .form__item--has-error & {
    border-color: $form-input-border-color-error;
  }

  &--has-suffix {
    padding-right: $form-suffix-width;
  }

  &--has-prefix {
    padding-left: $form-prefix-width;
  }

  &-wrap {
    position: relative;
  }

  &__prefix,
  &__suffix {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
  }

  &__prefix {
    left: 0;
    width: $form-prefix-width;
  }

  &__suffix {
    right: 0;
    width: $form-suffix-width;
  }

  &-button {
    outline: none;
    border: 0;
    background: none;
    width: 100%;
    height: 100%;

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &-icon {
    display: block;
    color: $form-icon-color;
    font-size: $form-icon-font-size;

    .form__input-button:disabled & {
      color: $form-icon-color-disabled;
    }
  }
}
