.form__radio {
  position: absolute;
  left: -999em;
  opacity: 0;

  &-wrap {
    display: block;

    + label {
      display: block;
      margin-left: $form-radio-label-margin;
      cursor: pointer;
      padding-top: $form-radio-label-padding-top;
      min-height: $form-radio-size;
      color: $form-radio-label-color;
      font-size: $form-radio-label-font-size;
      user-select: none;
    }
  }

  &-label {
    display: block;
    position: relative;
    width: $form-radio-size;
    height: $form-radio-size;
    min-height: $form-radio-size;
    overflow: hidden;
    text-indent: -999px;
    user-select: none;

    .form__radio:not(:disabled) + & {
      cursor: pointer;
    }

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s border, .3s background-color;
      border: 1px solid $form-radio-border-color;
      border-radius: $form-radio-border-radius;
      background: $form-radio-background;
      width: $form-radio-size;
      height: $form-radio-size;
      content: "";
      box-sizing: border-box;
    }

    .form__radio:checked + &:before {
      border-width: $form-radio-border-width-checked;
      border-color: $form-radio-border-color-checked;
      background: $form-radio-background-checked;
    }

    .form__radio:disabled + &:before {
      border-color: $form-radio-border-color-disabled;
      background: $form-radio-background-disabled;
    }

    .form__item--has-error &:before {
      border-color: $form-radio-border-color-error;
    }
  }
}
