.form__switch {
  position: absolute;
  left: -999em;
  opacity: 0;

  &-wrap {
    display: block;

    + label {
      display: block;
      margin-left: $form-switch-label-margin;
      cursor: pointer;
      padding-top: $form-switch-label-padding-top;
      min-height: $form-switch-circle-size;
      color: $form-switch-label-color;
      font-size: $form-switch-label-font-size;
      user-select: none;
    }
  }

  &-label {
    display: block;
    position: relative;
    cursor: pointer;
    width: calc(#{$form-switch-bar-width} + #{$form-switch-bar-margin-left});
    height: $form-switch-circle-size;
    text-indent: -999px;
    color: $form-switch-label-color;
    font-size: $form-switch-label-font-size;
    user-select: none;

    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: $form-switch-bar-margin-left;
      transform: translateY(-50%);
      transition: .3s background-color;
      border-radius: $form-switch-bar-border-radius;
      background: $form-switch-bar-color;
      width: $form-switch-bar-width;
      height: $form-switch-bar-height;
      content: "";
    }

    .form__switch:checked + &:before {
      background-color: $form-switch-bar-color-active;
    }

    .form__switch:disabled + &:before {
      background-color: $form-switch-bar-color-disabled;
    }

    &:after {
      display: block;
      position: absolute;
      top: 0;
      transition: .3s transform;
      border-radius: 50%;
      box-shadow: 0 1px 2px 0 $form-switch-circle-shadow-color-alpha;
      background: $form-switch-circle-color;
      width: $form-switch-circle-size;
      height: $form-switch-circle-size;
      content: "";
    }

    .form__switch:checked + &:after {
      transform: translateX(20px);
    }

    .form__switch:disabled + &:after {
      background: $form-switch-circle-color-disabled;
    }
  }
}
