.form__textarea,
.form__mention__input {
  transition: .3s border-color, .3s box-shadow;
  outline: none;
  border: 1px solid $form-input-border-color;
  border-radius: $form-input-border-radius;
  box-shadow: $form-input-box-shadow;
  background: $form-input-background;
  padding: $form-input-padding;
  width: 100%;
  min-height: $form-input-height;
  color: $form-input-text-color;
  font-size: $form-input-text-font-size;
  resize: none;

  &:focus {
    border-color: $form-input-border-color-focus;
    box-shadow: $form-input-box-shadow-focus;
  }

  &::placeholder {
    color: $form-placeholder-color;
  }

  &:disabled {
    border-color: $form-input-border-color-disabled;
    background: $form-input-background-disabled;
  }

  .form__item--has-error & {
    border-color: $form-input-border-color-error;
  }
}
