.form__toggle-show-password {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin: 0;
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 20px;
  text-align: right;
  line-height: 20px;
  color: $form-toggle-show-password-color;
  font-size: $form-toggle-show-font-size;
}
