.built-component {
  display: flex;
  flex: 1;
  align-items: stretch;
  margin: 24px;

  &__options {
    flex-shrink: 0;
    padding: 10px;
    width: 228px;

    &__header {
      margin: 0 0 $built-component-options-header-margin;
      text-transform: uppercase;
      color: $built-component-options-header-color;
      font-size: $built-component-options-header-font-size;
      font-weight: $built-component-options-header-font-weight;
    }

    &__nav {
      display: block;
      margin: 0 0 $built-component-options-nav-margin;
      padding: 0;

      &__item {
        display: block;
      }

      &__link {
        display: block;
        padding: $built-component-options-nav-padding-vertical 0;
        text-decoration: none;
        color: $built-component-options-nav-color;
        font-size: $built-component-options-nav-font-size;
      }
    }
  }

  &__presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $built-component-border-radius;
    box-shadow: $built-component-presentation-shadow;
    background: $built-component-presentation-background;
    padding: 20px;
    width: 100%;
  }
}
