.built-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: $built-footer-background;
  padding: $built-footer-padding;

  &__logo {
    width: 123px;
    height: 40px;
  }

  &__text {
    color: $built-footer-text-color;
    font-size: $built-footer-text-font-size;
    font-weight: 300;

    b,
    strong {
      font-weight: 600;
    }
  }
}
