.built-header {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 5;
  box-shadow: $built-header-shadow;
  background: $built-header-background;
  height: $built-header-height;

  &__logo {
    align-self: center;
    margin-left: 32px;
    width: 32px;
    height: 40px;
  }

  &__search {
    align-self: center;
    margin-right: 30px;
    width: 460px;
  }

  &__nav-icon {
    align-self: center;
    margin-left: 24px;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    width: $built-header-navicon-size;
    height: $built-header-navicon-size;
    color: $built-header-navicon-color;
    font-size: $built-header-navicon-font-size;
  }

  &__category-name {
    align-self: center;
    margin-right: 8px;
    color: $built-header-category-color;
    font-size: $built-header-category-font-size;
  }

  &__page-name {
    align-self: center;
    margin-right: 8px;
    color: $built-header-page-color;
    font-size: $built-header-page-font-size;
  }

  &__icons-wrap {
    display: flex;
    margin-right: 25px;
    height: 100%;
  }

  &__icon-button {
    align-self: center;
    transition: .3s color, .3s background-color;
    margin-left: 15px;
    outline: none;
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: $built-header-icon-button-color;
    font-size: $built-header-icon-button-font-size;

    &--is-active {
      background: $built-header-icon-button-background--active;
      color: $built-header-icon-button-color--active;
    }
  }

  &__left,
  &__center,
  &__right {
    display: flex;
    align-items: flex-start;
    height: 100%;
  }
}
