.built-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s opacity, .3s visibility;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: $built-overlay-background;

  &--is-visible {
    visibility: visible;
    opacity: 1;
  }
}
