.built-components {
  &--primary {
    padding: 40px 30px;
  }

  &__header {
    .built-components--primary & {
      margin-bottom: $built-components-header-margin;
      color: $built-components-header-color;
      font-size: $built-components-header-font-size;
      font-weight: $built-components-header-font-weight;
    }

    .built-components--secondary & {
      margin-bottom: $built-components-secondary-header-margin;
      color: $built-components-secondary-header-color;
      font-size: $built-components-secondary-header-font-size;
    }
  }

  &__description {
    .built-components--secondary & {
      margin: 0 0 $built-components-secondary-description-margin;
      color: $built-components-secondary-description-color;
      font-size: $built-components-secondary-description-font-size;
      font-weight: $built-components-secondary-description-font-weight;
    }
  }

  &__list {
    .built-components--primary & {
      display: block;
      margin: 0 0 $built-components-list-margin;
      padding: 0;
    }

    .built-components--secondary & {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -13px $built-components-secondary-description-margin;
      padding: 0;
    }

    &__item {
      .built-components--primary & {
        display: block;
        margin: 0;
      }

      .built-components--secondary & {
        display: block;
        margin: 0 13px 40px;
        width: 255px;
      }
    }

    &__link {
      .built-components--primary & {
        display: block;
        padding: $built-components-list-padding-vertical 0;
        text-decoration: none;
        color: $built-components-list-link-color;
        font-size: $built-components-list-font-size;
      }

      .built-components--secondary & {
        display: block;
        border-radius: $built-components-secondary-list-item-radius;
        box-shadow: $built-components-secondary-list-item-shadow;
        background: $built-components-secondary-list-item-background;
        padding: $built-components-secondary-list-item-padding;
        text-decoration: none;
        color: $built-components-secondary-list-item-color;
        font-size: $built-components-secondary-list-item-font-size;
      }
    }
  }
}
