.built-app {
  display: flex;
  flex-direction: column;
  // transition: .4s filter;
  background: $built-app-background;
  height: 100%;

  &--blured {
    filter: blur($built-app-blur);
  }

  &__main {
    display: flex;
    flex: 1;
  }
}
