.built-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-#{$built-sidebar-width});
  transition: .4s transform;
  z-index: 100;
  box-shadow: $built-sidebar-shadow;
  background: $built-sidebar-background;
  width: $built-sidebar-width;
  overflow-y: auto;

  &--is-visible {
    transform: translateX(0);
  }

  &__logo {
    border-bottom: 1px solid $built-sidebar-logo-border;
    padding: 32px 30px 40px;
  }
}
