.built-team-comments {
  flex-shrink: 0;
  transition: .5s width;
  box-shadow: $built-team-comments-shadow;
  background: $built-team-comments-background;
  width: 0;
  overflow: hidden;

  &__inner {
    position: relative;
    width: 370px;
    overflow: hidden;
  }

  &--is-visible {
    width: 370px;
  }

  &__close-button {
    position: absolute;
    top: 28px;
    right: 25px;
    outline: none;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    color: $built-team-comments-close-color;
    font-size: $built-team-comments-close-font-size;
  }

  &__header {
    margin: $built-team-comments-padding-horizontal $built-team-comments-padding-vertical $built-team-comments-header-margin;
    color: $built-team-comments-header-color;
    font-size: $built-team-comments-header-font-size;
    font-weight: $built-team-comments-header-font-weight;
  }

  &__component-name {
    margin: 0 $built-team-comments-padding-vertical $built-team-comments-component-name-margin;
    color: $built-team-comments-component-name-color;
    font-size: $built-team-comments-component-name-font-size;
  }

  &__content {
    margin: $built-team-comments-content-margin $built-team-comments-padding-horizontal;
    line-height: $built-team-comments-content-line-height;
    color: $built-team-comments-content-color;
    font-size: $built-team-comments-content-font-size;

    p {
      margin-bottom: $built-team-comments-content-paragraph-margin;
    }

    ul {
      // margin: 0;
      padding: 0 0 0 15px;
    }
  }
}
