button {
  outline: none;
  cursor: pointer;
}

.button {
  display: block;
  position: relative;
  outline: none;
  border: 0;
  border-radius: $button-radius;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  font-family: $base-font_family;
  font-weight: $button-font-weight;

  &:hover {
    z-index: 1;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  .loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -#{$loading-spinner-size/2};
  }

  &--block {
    width: 100%;
  }

  &--size {
    &-big {
      padding: calc((#{$button-big-height} - #{$button-big-font-size} - 2px) /2);
      min-width: $button-big-min-width;
      height: $button-big-height;
      font-size: $button-big-font-size;
    }

    &-normal {
      padding: calc((#{$button-normal-height} - #{$button-normal-font-size} - 2px) /2);
      min-width: $button-normal-min-width;
      height: $button-normal-height;
      font-size: $button-normal-font-size;
    }

    &-small {
      padding: calc((#{$button-small-height} - #{$button-small-font-size} - 2px) /2);
      min-width: $button-small-min-width;
      height: $button-small-height;
      font-size: $button-small-font-size;
    }
  }

  &--type {
    &-filled {
      transition: .2s color, .2s background-color;
      background: $button-filled-bg;
      color: $button-filled-color;

      &:hover:not([disabled]) {
        background: $button-filled-bg-hover;
        color: $button-filled-color-hover;
      }

      &[disabled]:not(.button--loading) {
        background: $button-filled-bg-disabled;
        color: $button-filled-color-disabled;
      }
    }

    &-outline {
      transition: .2s color, .2s border-color;
      border: 1px solid $button-outline-border;
      background: $button-outline-bg;
      color: $button-outline-color;

      .loading-circle__half-circle {
        border-top-color: $button-outline-color;
        border-left-color: $button-outline-color;
      }

      &:hover:not([disabled]) {
        border: 1px solid $button-outline-border-hover;
        color: $button-outline-color-hover;
      }

      &[disabled]:not(.button--loading) {
        border: 1px solid $button-outline-border-disabled;
        background: $button-outline-bg-disabled;
        color: $button-outline-color-disabled;
      }
    }

    &-outline-secondary {
      transition: .2s color, .2s border-color;
      border: 1px solid $button-outline-secondary-border;
      background: $button-outline-secondary-bg;
      color: $button-outline-secondary-color;

      .loading-circle__half-circle {
        border-top-color: $button-outline-secondary-color;
        border-left-color: $button-outline-secondary-color;
      }

      &:hover:not([disabled]) {
        border: 1px solid $button-outline-secondary-border-hover;
        color: $button-outline-secondary-color-hover;
      }

      &[disabled]:not(.button--loading) {
        border: 1px solid $button-outline-secondary-border-disabled;
        background: $button-outline-secondary-bg-disabled;
        color: $button-outline-secondary-color-disabled;
      }
    }
  }
}

.buttons-group:not(.buttons-group--spaced) {
  display: flex;

  .button {
    &:not(:first-child) {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.buttons-group--spaced {
  display: flex;
  margin: 0 -7px;

  .button {
    margin: 0 7px;
  }
}

.button-link {
  outline: none;
  border: 0;
  background: none;
  padding: 0;
  text-align: left;
}
