@keyframes dropdownBodyIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropdownBodyOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(10px);
    opacity: 0;
  }
}

.dropdown {
  position: relative;

  &__button {
    position: relative;
    transition: .2s background, .2s border-color;
    border: $dropdown-button-border;
    border-radius: $dropdown-button-border-radius;
    background: $dropdown-button-background;
    padding: $dropdown-button-padding;
    height: $dropdown-button-height;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    line-height: $dropdown-button-line-height;
    white-space: nowrap;
    color: $dropdown-button-color;
    font-size: $dropdown-button-font-size;

    &--is-open {
      border: $dropdown-button-border-focus;
      background: $dropdown-button-background-focus;
      color: $dropdown-button-color-focus;
    }

    &:after {
      @include icon;
      position: absolute;
      top: 50%;
      right: $dropdown-button-arrow-right;
      transform: translateY(-50%);
      color: $dropdown-button-arrow-color;
      font-size: $dropdown-button-arrow-font-size;
      content: $dropdown-button-arrow-icon;
    }

    .dropdown--no-background & {
      border: 0;
      background: transparent;
      padding: 0 30px 0 0;
    }
  }

  &__body {
    position: absolute;
    transform: translateY(10px);
    transition: .3s opacity, .3s visibility, .3s transform;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    margin-top: $dropdown-body-offset;
    border: $dropdown-body-border;
    border-radius: $dropdown-body-border-radius;
    box-shadow: $dropdown-body-box-shadow;
    background: $dropdown-body-background;
    overflow: hidden;

    &--is-open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
}
