@font-face {
  font-family: "Sequel Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/sequel-sans/ogj_type_design_-_sequel_sans_bold_body_text-webfont.woff2") format("woff2"),
  url("../../fonts/sequel-sans/ogj_type_design_-_sequel_sans_bold_body_text-webfont.woff") format("woff");
}

@font-face {
  font-family: "Sequel Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/sequel-sans/ogj_type_design_-_sequel_sans_book_body_text-webfont.woff2") format("woff2"),
  url("../../fonts/sequel-sans/ogj_type_design_-_sequel_sans_book_body_text-webfont.woff") format("woff");
}

@font-face {
  font-family: "Sequel Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/sequel-sans/ogj_type_design_-_sequel_sans_roman_body_text-webfont.woff2") format("woff2"),
  url("../../fonts/sequel-sans/ogj_type_design_-_sequel_sans_roman_body_text-webfont.woff") format("woff");
}
