.form-card {
  width: $form-card-width;

  &__inner {
    padding: $form-card-inner-padding;
  }

  &__header {
    margin: 0 0 $form-card-header-margin;
    color: $form-card-header-color;
    font-size: $form-card-header-font-size;
    font-weight: $fw-normal;

    b {
      color: $form-card-header-bold-color;
      font-weight: $fw-normal;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $form-card-options-margin;

    &__remember-me {

      &.form__item {
        margin-bottom: 0;
      }
    }

    &__link {
      text-decoration: underline;
      color: $form-card-option-link-color;
      font-size: $form-card-option-link-font-size;
    }
  }

  &__footer {
    border-top: 1px solid $form-card-footer-border-color;
    padding: $form-card-footer-padding;
    text-align: center;
    color: $form-card-footer-text-color;
    font-size: $form-card-footer-font-size;

    &__link {
      display: inline-block;
      margin-left: 8px;
      text-decoration: none;
      color: $form-card-footer-link-color;
    }
  }

  &__button {
    margin-top: $form-card-button-margin;
  }

  &__content {
    margin-bottom: $form-card-content-margin;

    p {
      line-height: $form-card-content-line-height;
      color: $form-card-content-color;
      font-size: $form-card-content-font-size;
    }
  }
}
