@font-face {
  font-family: "built";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/icons/built.eot?75628303#iefix") format("embedded-opentype"),
  url("../../fonts/icons/built.woff2?75628303") format("woff2"),
  url("../../fonts/icons/built.woff?75628303") format("woff"),
  url("../../fonts/icons/built.ttf?75628303") format("truetype"),
  url("../../fonts/icons/built.svg?75628303#built") format("svg");
}

@mixin icon {
  display: inline-block;
  width: 1em;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1em;
  font-family: "built";
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

[class^="icon--"]:before,
[class*=" icon--"]:before {
  @include icon;
}

.icon--close:before { content: "\e800"; }
.icon--arrow-down:before { content: "\e801"; }
.icon--arrow-left:before { content: "\e802"; }
.icon--arrow-right:before { content: "\e803"; }
.icon--arrow-up:before { content: "\e804"; }
.icon--angle-down:before { content: "\e805"; }
.icon--angle-left:before { content: "\e806"; }
.icon--angle-right:before { content: "\e807"; }
.icon--angle-up:before { content: "\e808"; }
.icon--options:before { content: "\e809"; }
.icon--visibility-off:before { content: "\e80a"; }
.icon--message:before { content: "\e80b"; }
.icon--nav:before { content: "\e80c"; }
.icon--ok:before { content: "\e80d"; }
.icon--plus:before { content: "\e80e"; }
.icon--search:before { content: "\e80f"; }
.icon--source:before { content: "\e810"; }
.icon--visibility-on:before { content: "\e811"; }
.icon--share:before { content: "\e812"; }
.icon--bookmark:before { content: "\e814"; }
.icon--edit:before { content: "\e816"; }
.icon--heart-full:before { content: "\e817"; }
.icon--mail:before { content: "\e818"; }
.icon--heart:before { content: "\e819"; }
.icon--dir-up:before { content: "\e81b"; }
.icon--info:before { content: "\e81c"; }
.icon--done:before { content: "\e81d"; }
.icon--minus:before { content: "\e81e"; }
.icon--camera:before { content: "\e81f"; }
.icon--notification:before { content: "\e820"; }
.icon--remove:before { content: "\e821"; }
.icon--timer:before { content: "\e822"; }
.icon--attachment:before { content: "\e824"; }
.icon--calendar:before { content: "\e825"; }
.icon--dir-down:before { content: "\e827"; }
