$animation-time: 2.5s;

.loading-circle {
  position: relative;
  animation: fullRotation $animation-time infinite, opacity $animation-time infinite;
  width: $loading-spinner-size;
  height: $loading-spinner-size;

  &__half-clip {
    position: absolute;
    right: 0;
    animation: fullRotation $animation-time steps(2) infinite;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transform-origin: left center;
  }

  &__half-circle {
    position: absolute;
    right: 0;
    border: solid 2px transparent;
    border-radius: 50%;
    border-top-color: $c-grey-1;
    border-left-color: $c-grey-1;
    height: 100%;
    box-sizing: border-box;

    &--clipped {
      animation: rotate calc(#{$animation-time} / 2) linear infinite;
      width: 200%;
    }

    &--fixed {
      transform: rotate(135deg);
      animation: showfixed $animation-time steps(2) infinite;
      width: 100%;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

@keyframes fullRotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes showfixed {
  0% {
    opacity: 0;
  }

  49.9% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
