.ReactModal__Body--open { // sass-lint:disable-line class-name-format
  #app {
    filter: blur(#{$modal-bg-blur});
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  outline: none;
  border-radius: $modal-border-radius;
  box-shadow: $modal-box-shadow;
  background: $modal-background;
  width: $modal-width;
  max-height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: $screen-small) {
    right: 30px;
    left: 30px;
    transform: translate(0, -50%);
    width: calc(100% - 60px);
  }

  &__header {
    padding: $modal-header-padding;
  }

  &__title {
    color: $modal-title-color;
    font-size: $modal-title-font-size;
    font-weight: $modal-title-font-weight;
  }

  &__close-button {
    position: absolute;
    top: 20px;
    right: 28px;
    margin: 0;
    outline: none;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    color: $modal-close-color;
    font-size: $modal-close-size;
  }

  &__body {
    padding: $modal-body-padding;
    line-height: $modal-body-text-line-height;
    color: $modal-body-text-color;
    font-size: $modal-body-text-font-size;
    font-weight: $modal-body-text-font-weight;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: $modal-footer-justify-content;
    border-top: 1px solid $modal-footer-border-color;
    padding: $modal-footer-padding;

    .button {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    outline: none;
    background: $modal-overlay-color;
  }
}
