.pagination {
  display: flex;
  align-items: center;

  &__result-info {
    padding: $pagination-result-info-padding;
    color: $pagination-result-info-color;
    font-size: $pagination-result-info-font-size;
  }

  &__list {
    display: flex;
    margin: 0;
    border: $pagination-list-border;
    border-radius: $pagination-list-border-radius;
    padding: 0;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: $pagination-list-border;
      background: $pagination-list-item-background;
      min-width: $pagination-list-item-width;
      height: $pagination-list-item-height;
      text-align: center;
      line-height: $pagination-list-item-height;
      color: $pagination-list-item-color;
      font-size: $pagination-list-item-font-size;
      font-weight: $pagination-list-item-font-weight;

      i {
        line-height: 1em;
        font-size: 10px;
      }

      &--is-active {
        margin: -1px 0;
        background: $pagination-list-item-background-active;
        height: #{$pagination-list-item-height + 2px};
        color: $pagination-list-item-color-active;
        font-weight: $pagination-list-item-font-weight-active;
      }
    }

    .pagination__list__item:first-child {
      border-left: 0;
    }

    &__button {
      display: flex;
      flex: 1;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      transition: .3s background;
      border: 0;
      background: none;
      padding: 0;
      text-decoration: none;
      color: inherit;

      &[disabled] {
        cursor: default;
        color: $pagination-list-item-disabled-color;
      }

      &:hover:not([disabled]) {
        background: $pagination-list-item-background-hover;
      }
    }
  }
}
