.sg__header {
  display: flex;
  position: relative;
  align-items: center;
  box-shadow: $sg-header-box_shadow;
  background: $sg-header-background;
  padding: $sg-header-padding-vertical $sg-header-padding-horizontal;

  &__page-title {
    color: $sg-header-page_title-color;
    font-size: $sg-header-page_title-font_size;
    font-weight: $sg-header-page_title-font_weight;
  }
}
