#app,
[data-reactroot],
html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.sg {
  display: flex;
  height: 100%;
  overflow: hidden;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: $sg-overlay-background;
  }

  &__sidebar {
    flex-shrink: 0;
    width: 250px;
    overflow-y: auto;

    &--hidden {
      display: none;
    }

    // Hide sidebar on mobile - it will be removed when show/hide sidebar functionality will be implemented
    @media (max-width: $screen-medium) {
      display: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    position: relative;
    flex-shrink: 0;
    z-index: 10;
    border-bottom: 1px solid $sg-header-border_color;
    height: $sg-header-height;

    &--hidden {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
    overflow-y: scroll;

    &__inner {
      padding: 20px;
    }
  }
}
