.sg__sidebar {
  position: relative;
  background: $sg-sidebar-background;
  color: $sg-sidebar-color;

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: $sg-sidebar-logo-margin_bottom;
    border-bottom: 1px solid $sg-sidebar-logo-border_color;
    box-shadow: $sg-sidebar-logo-box_shadow;
    background: $sg-sidebar-logo-background;
    padding: 0 $sg-sidebar-padding_horizontal;
    height: $sg-sidebar-logo-height;
    color: $sg-sidebar-logo-color;
  }

  &__section-header {
    margin: 0 0 $sg-sidebar-section_header-margin_bottom;
    padding: 0 $sg-sidebar-padding_horizontal;
    text-transform: uppercase;
    color: $sg-sidebar-section_header-color;
    font-size: $sg-sidebar-section_header-font_size;
    font-weight: $sg-sidebar-section_header-font_weight;
  }

  &__nav {
    display: block;
    margin: 0 0 $sg-sidebar-nav-margin_bottom;
    padding: 0;

    &__item {
      display: block;
      margin: 0;
      padding: 0;
    }

    &__link {
      display: block;
      transition: .2s background-color;
      background: $sg-sidebar-nav-link-background;
      padding: $sg-sidebar-nav-link-padding-vertical $sg-sidebar-padding_horizontal;
      text-decoration: none;
      color: $sg-sidebar-nav-link-color;

      font-size: $sg-sidebar-nav-link-font_size;

      &--active {
        color: $sg-sidebar-nav-link-color-hover;
      }

      &:hover {
        background: $sg-sidebar-nav-link-background-hover;
        color: $sg-sidebar-nav-link-color-hover;
      }
    }
  }
}
