.table {
  background: $table-background;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  &__wrap {
    width: 100%;
    overflow-x: auto;

    &--stripped {
      border: $table-stripped-border;
      border-radius: $table-stripped-border-radius;
    }
  }

  tbody,
  thead {
    td:first-child,
    th:first-child {
      padding-left: $table-first-col-padding-left;
    }

    td:last-child,
    th:last-child {
      padding-right: $table-last-col-padding-right;
    }
  }

  td,
  th {
    border-bottom: $table-row-border;
    text-align: left;
  }

  th {
    padding: $table-th-padding;
    line-height: $table-th-line-height;
    color: $table-th-color;
    font-size: $table-th-font-size;
    font-weight: $table-th-font-weight;
  }

  td {
    padding: $table-td-padding;
    line-height: $table-td-line-height;
    color: $table-td-color;
    font-size: $table-td-font-size;
  }

  &--stripped {
    td {
      border-bottom: 0;
    }

    tr:nth-child(even) {
      td {
        background: $table-stripped-row-even-background;
      }
    }
  }
}
