.tabs {
  border: 1px solid $tabs-wrap-border-color;
  border-radius: $tabs-wrap-border-radius;
  box-shadow: 0 2px 4px 0 $tabs-wrap-shadow-color;
  background: $tabs-wrap-background;

  &__nav {
    display: flex;
    margin: 0;
    background: $tabs-nav-background;
    padding: 0;

    &--has-border {
      border-bottom: 1px solid $tabs-nav-border-color;
    }

    &__item {
      display: block;
      margin: 0;
    }

    &__link {
      display: block;
      transition: .3s color, .2s border-color;
      border-bottom: 2px solid $tabs-nav-item-border-color;
      padding: $tabs-nav-item-padding-top $tabs-nav-item-padding-horizontal $tabs-nav-item-padding-bottom;
      text-decoration: none;
      color: $tabs-nav-item-color;

      &:hover {
        color: $tabs-nav-item-color-active;
      }

      .tabs__nav__item--is-active & {
        border-color: $tabs-nav-item-border-color-active;
        color: $tabs-nav-item-color-active;
      }
    }
  }

  &__content {
    background: $tabs-content-background;
    padding: $tabs-content-padding-vertical $tabs-content-padding-horizontal;
    line-height: $tabs-content-line-height;
    color: $tabs-content-color;
    font-size: $tabs-content-font-size;
  }
}
