.tags {
  display: flex;

  &__item {
    margin-left: $tags-spacing;
    border-radius: $tags-item-border-radius;
    background: $tags-item-background;
    padding: $tags-item-padding;
    height: $tags-item-height;
    line-height: $tags-item-height;
    color: $tags-item-color;
    font-size: $tags-item-font-size;
  }

  .tags__item:first-child {
    margin-left: 0;
  }
}
