// sass-lint:disable-all

.ant-notification {
  position: fixed;
  z-index: 1010;
  margin-right: 24px;
  width: 335px;

  &-topLeft,
  &-bottomLeft {
    margin-right: 0;
    margin-left: 24px;

    .ant-notification-fade-enter.ant-notification-fade-enter-active,
    .ant-notification-fade-appear.ant-notification-fade-appear-active {
      animation-name: NotificationLeftFadeIn;
    }
  }

  &-notice {
    padding: $toast-padding;
    border-radius: $toast-border-radius;
    box-shadow: $toast-box-shadow;
    background: $toast-background;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

    &-icon {
      position: absolute;
      font-size: 32px;
      line-height: 32px;

      &-success {
        color: #00a854;
      }

      &-info {
        color: #108ee9;
      }

      &-warning {
        color: #ffbf00;
      }

      &-error {
        color: #f04134;
      }
    }

    &-message {
      display: none;
    }

    &-description {
      color: $toast-color;
      font-size: $toast-font-size;
      line-height: $toast-line-height;

      .ant-notification-notice-with-icon & {
        margin-left: 48px;
        font-size: 12px;
      }
    }

    &-close {
      display: block;
      position: absolute;
      right: #{18px - 10px};
      top: 50%;
      transform: translateY(-50%);
      color: $toast-close-color;
      outline: none;
      text-decoration: none;
      padding: 10px;
      cursor: pointer;

      &-x:after {
        @include icon;
        display: block;
        line-height: $toast-close-font-size;
        font-size: $toast-close-font-size;
        content: $toast-close-icon;
      }

      &:hover {
        color: $toast-close-color-hover;
      }
    }

    &-close
    &-btn {
      float: right;
      margin-top: 16px;
    }
  }

  .notification-fade-effect {
    animation-duration: 0.24s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.645, .045, .355, 1);
  }

  &-fade-enter,
  &-fade-appear {
    opacity: 0;
    animation-duration: 0.24s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.645, .045, .355, 1);
    animation-play-state: paused;

    &-active {
      animation-name: NotificationFadeIn;
      animation-play-state: running;
    }
  }

  &-fade-leave {
    animation-duration: 0.24s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.645, .045, .355, 1);
    animation-duration: 0.2s;
    animation-play-state: paused;

    &-active {
      animation-name: NotificationFadeOut;
      animation-play-state: running;
    }
  }
}

@keyframes NotificationFadeIn {
  0% {
    opacity: 0;
    left: 335px;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes NotificationLeftFadeIn {
  0% {
    opacity: 0;
    right: 335px;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes NotificationFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
