// sass-lint:disable-all

@keyframes tooltipAnimationEnter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tooltipAnimationLeave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ant-tooltip {
  position: absolute;
  z-index: 1060;
  display: block;
  visibility: visible;
  font-size: $tooltip-font-size;
  line-height: $tooltip-line-height;

  &.zoom-big-fast-enter {
    opacity: 0;

    &-active {
      animation: .3s tooltipAnimationEnter forwards;
    }
  }

  &.zoom-big-fast-leave {
    opacity: 1;

    &-active {
      animation: .3s tooltipAnimationLeave forwards;
    }
  }

  &-hidden {
    display: none;
  }

  &-placement {
    &-top,
    &-topLeft,
    &-topRight {
      padding-bottom: 8px;

      .ant-tooltip-arrow {
        bottom: 3px;
        border-width: 5px 5px 0;
        border-top-color: $tooltip-arrow-background;
      }
    }

    &-right,
    &-rightTop,
    &-rightBottom {
      padding-left: 8px;

      .ant-tooltip-arrow {
        left: 3px;
        border-width: 5px 5px 5px 0;
        border-right-color: $tooltip-arrow-background;
      }
    }

    &-bottom,
    &-bottomLeft,
    &-bottomRight {
      padding-top: 8px;

      .ant-tooltip-arrow {
        top: 3px;
        border-width: 0 5px 5px;
        border-bottom-color: $tooltip-arrow-background;
      }
    }

    &-left,
    &-leftTop,
    &-leftBottom {
      padding-right: 8px;

      .ant-tooltip-arrow {
        right: 3px;
        border-width: 5px 0 5px 5px;
        border-left-color: $tooltip-arrow-background;
      }
    }

    &-top .ant-tooltip-arrow {
      left: 50%;
      margin-left: -5px;
    }

    &-topLeft .ant-tooltip-arrow {
      left: 16px;
    }

    &-topRight .ant-tooltip-arrow {
      right: 16px;
    }

    &-right .ant-tooltip-arrow {
      top: 50%;
      margin-top: -5px;
    }

    &-rightTop .ant-tooltip-arrow {
      top: 8px;
    }

    &-rightBottom .ant-tooltip-arrow {
      bottom: 8px;
    }

    &-left .ant-tooltip-arrow {
      top: 50%;
      margin-top: -5px;
    }

    &-leftTop .ant-tooltip-arrow {
      top: 8px;
    }

    &-leftBottom .ant-tooltip-arrow {
      bottom: 8px;
    }

    &-bottom .ant-tooltip-arrow {
      left: 50%;
      margin-left: -5px;
    }

    &-bottomLeft .ant-tooltip-arrow {
      left: 16px;
    }

    &-bottomRight .ant-tooltip-arrow {
      right: 16px;
    }
  }

  &-inner {
    max-width: 250px;
    padding: $tooltip-padding;
    color: $tooltip-color;
    text-align: left;
    text-decoration: none;
    background-color: $tooltip-background;
    border-radius: $tooltip-border-radius;
    box-shadow: $tooltip-box-shadow;
    min-height: $tooltip-min-height;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
