body {
  color: $base-color;
  font-family: $base-font_family;
  font-size: $base-font_size;
  font-weight: $base-font_weight;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 $header-margin;
  font-weight: $header-font_weight;
}

a {
  color: inherit;
}

p {
  margin: 0 0 $paragraph-margin;
}

h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

.t1 {
  font-size: $t1;
}

.t2 {
  font-size: $t2;
}

.t3 {
  font-size: $t3;
}

.t4 {
  font-size: $t4;
}
