///////////////////////////////
//            APP            //
///////////////////////////////

// built structure

$built-landing-header-background: $c-grey-1;
$built-landing-header-text-color: $c-grey-6;
$built-landing-header-text-font-weight: 300;
$built-landing-header-text-font-size: $f-h2;
$built-landing-header-text-line-height: 1.333em;
$built-landing-header-built-text-color: $c-purple;
$built-landing-header-built-font-weight: 600;
$built-landing-content-padding-vertical: 60px;

$built-components-secondary-header-color: $c-grey-6;
$built-components-secondary-header-font-size: $f-h5;
$built-components-secondary-header-margin: 20px;
$built-components-secondary-description-color: $c-grey-4;
$built-components-secondary-description-font-weight: 300;
$built-components-secondary-description-font-size: $f-t2;
$built-components-secondary-description-margin: 55px;
$built-components-secondary-list-margin: 90px;
$built-components-secondary-list-item-background: $c-grey-1;
$built-components-secondary-list-item-shadow: 0 2px 4px 0 $c-grey-3;
$built-components-secondary-list-item-radius: 4px;
$built-components-secondary-list-item-padding: 20px 17px;
$built-components-secondary-list-item-color: $c-grey-6;
$built-components-secondary-list-item-font-size: $f-t2;

$built-team-comments-background: $c-grey-1;
$built-team-comments-shadow: 0 2px 2px 0 $c-grey-2;
$built-team-comments-padding-vertical: 25px;
$built-team-comments-padding-horizontal: 30px;
$built-team-comments-header-color: $c-grey-4;
$built-team-comments-header-font-weight: 600;
$built-team-comments-header-font-size: $f-t3;
$built-team-comments-header-margin: 30px;
$built-team-comments-close-color: $c-grey;
$built-team-comments-close-font-size: 14px;
$built-team-comments-component-name-color: $c-grey-6;
$built-team-comments-component-name-font-size: $f-t1;
$built-team-comments-component-name-margin: 30px;
$built-team-comments-content-margin: 40px;
$built-team-comments-content-color: $c-grey-5;
$built-team-comments-content-font-size: $f-t3;
$built-team-comments-content-line-height: 1.75em;
$built-team-comments-content-paragraph-margin: 20px;

$built-component-presentation-background: $c-grey-1;
$built-component-presentation-shadow: 0 2px 4px 0 $c-grey-3;
$built-component-border-radius: 4px;

$built-component-options-header-color: $c-grey;
$built-component-options-header-font-size: $f-t3;
$built-component-options-header-margin: 5px;
$built-component-options-header-font-weight: 600;

$built-component-options-nav-color: $c-purple;
$built-component-options-nav-font-size: $f-t3;
$built-component-options-nav-padding-vertical: 10px;
$built-component-options-nav-margin: 15px;

$built-sidebar-background: $c-grey-1;
$built-sidebar-width: 282px;
$built-sidebar-shadow: 1px 0 6px 0 rgba($c-grey-6, .5);
$built-sidebar-logo-border: $c-grey-3;

$built-components-header-color: $c-grey;
$built-components-header-font-weight: 600;
$built-components-header-font-size: $f-t2;
$built-components-header-margin: 10px;

$built-components-list-margin: 20px;
$built-components-list-link-color: $c-grey-5;
$built-components-list-font-size: $f-t2;
$built-components-list-padding-vertical: 10px;

$built-app-blur: 2px;
$built-app-background: #FBFBFB;

$built-overlay-background: rgba($c-grey-6, .85);

$built-header-height: 60px;
$built-header-background: $c-grey-1;
$built-header-shadow: 0 2px 4px 0 $c-grey-3;
$built-header-navicon-color: $c-purple;
$built-header-navicon-font-size: 16px;
$built-header-navicon-size: 40px;
$built-header-category-color: $c-grey;
$built-header-category-font-size: $f-t2;
$built-header-page-color: $c-grey-6;
$built-header-page-font-size: $f-t2;
$built-header-icon-button-color: $c-grey-4;
$built-header-icon-button-color--active: $c-purple;
$built-header-icon-button-background--active: $c-grey-2;
$built-header-icon-button-font-size: 17px;

$built-footer-background: $c-grey-1;
$built-footer-padding: 40px 30px;
$built-footer-text-color: $c-grey;
$built-footer-text-font-size: $f-t2;

// Dropdown
$dropdown-button-border: 1px solid #D8DDE2;
$dropdown-button-border-focus: 1px solid #99A6B4;
$dropdown-button-background: #FFF;
$dropdown-button-background-focus: #FBFBFB;
$dropdown-button-height: 34px;
$dropdown-button-padding: 8px 30px 8px 10px;
$dropdown-button-color: #334D69;
$dropdown-button-color-focus: #334D69;
$dropdown-button-arrow-icon: "\e827";
$dropdown-button-arrow-color: #66798E;
$dropdown-button-arrow-font-size: 8px;
$dropdown-button-arrow-right: 7px;
$dropdown-button-font-size: 12px;
$dropdown-button-line-height: 15px;
$dropdown-button-border-radius: 2px;

$dropdown-body-background: #FFF;
$dropdown-body-box-shadow: 2px 2px 10px 0 rgba(#000, .2); // sass-lint:disable-line no-color-literals
$dropdown-body-border-radius: 0;
$dropdown-body-border: none;
$dropdown-body-offset: 8px;

// Tooltips
$tooltip-background: #2D4763; // sass-lint:disable-line no-color-literals
$tooltip-arrow-background: #2D4763; // sass-lint:disable-line no-color-literals
$tooltip-border-radius: 2px;
$tooltip-color: #FFF;
$tooltip-font-size: 10px;
$tooltip-line-height: 12px;
$tooltip-box-shadow: 2px 4px 10px 0 rgba(#000, .2); // sass-lint:disable-line no-color-literals
$tooltip-min-height: 32px;
$tooltip-padding: 10px 15px;

// Toasts
$toast-background: #334D69;
$toast-box-shadow: 0 2px 4px 0 rgba(#001A36, .5); // sass-lint:disable-line no-color-literals
$toast-border-radius: 2px;
$toast-padding: 23px 40px 23px 15px;
$toast-color: #FBFBFB;
$toast-font-size: 12px;
$toast-line-height: 15px;
$toast-close-icon: "\e800";
$toast-close-color: #FBFBFB;
$toast-close-color-hover: #FBFBFB;
$toast-close-font-size: 10px;

// tables
$table-background: #FFF;
$table-row-border: 1px solid #D8DDE2;
$table-td-padding: 12px 10px;
$table-th-padding: 13px 10px;
$table-first-col-padding-left: 15px;
$table-last-col-padding-right: 15px;
$table-td-color: #002144;
$table-td-font-size: 12px;
$table-td-line-height: 15px;
$table-th-color: #66798E;
$table-th-font-size: 11px;
$table-th-line-height: 14px;
$table-th-font-weight: 700;

$table-stripped-border: 1px solid #D8DDE2;
$table-stripped-border-radius: 2px;
$table-stripped-row-even-background: #EFF1F3;
$table-stripped-row-odd-background: #FFF;

// pagination
$pagination-result-info-padding: 0 15px 0 0;
$pagination-result-info-color: #66798E;
$pagination-result-info-font-size: 12px;

$pagination-list-border: 1px solid #D8DDE2;
$pagination-list-border-radius: 2px;
$pagination-list-item-height: 30px;
$pagination-list-item-background: #FFF;
$pagination-list-item-background-hover: #EFF1F3;
$pagination-list-item-background-active: #12DCAF;
$pagination-list-item-width: 30px;
$pagination-list-item-color: #66798E;
$pagination-list-item-color-active: #FFF;
$pagination-list-item-font-size: 12px;
$pagination-list-item-font-weight: 400;
$pagination-list-item-font-weight-active: 700;
$pagination-list-item-disabled-color: #D8DDE2;

// tags
$tags-spacing: 8px;

$tags-item-height: 24px;
$tags-item-color: #334D69;
$tags-item-background: #EFF1F3;
$tags-item-font-size: 9px;
$tags-item-padding: 0 7px;
$tags-item-border-radius: 2px;

// loading spinner
$loading-spinner-size: 16px;

// card
$card-bg: $c-grey-1;
$card-border-radius: 4px;
$card-box-shadow: 0 2px 4px 0 $c-grey-3;

// form card
$form-card-width: 452px;
$form-card-inner-padding: 60px 55px 40px;
$form-card-header-color: #1E242E;
$form-card-header-bold-color: #5A32FD;
$form-card-header-font-size: $f-h5;
$form-card-header-margin: 30px;
$form-card-options-margin: 40px;
$form-card-option-link-color: $c-grey-6;
$form-card-option-link-font-size: $f-t2;
$form-card-footer-border-color: $c-grey-3;
$form-card-footer-padding: 25px;
$form-card-footer-text-color: $c-grey-4;
$form-card-footer-font-size: $f-t3;
$form-card-footer-link-color: $c-purple;
$form-card-button-margin: 25px;
$form-card-content-color: $c-grey-5;
$form-card-content-font-size: $f-t2;
$form-card-content-line-height: 20px;
$form-card-content-margin: 25px;

// modals
$modal-overlay-color: rgba($c-grey-6, .85);
$modal-bg-blur: 2px;
$modal-border-radius: 4px;
$modal-shadow-color: #1E242E;
$modal-shadow-color-alpha: rgba($modal-shadow-color, .3);
$modal-box-shadow: 0 2px 6px 0 rgba($modal-shadow-color, .3);
$modal-background: $c-grey-1;
$modal-width: 480px;
$modal-title-color: $c-grey-6;
$modal-title-font-size: $f-h5;
$modal-title-font-weight: 400;
$modal-close-color: $c-grey;
$modal-close-size: 16px;
$modal-header-padding: 20px 20px 28px;
$modal-body-padding: 0 20px 65px 20px;
$modal-body-text-color: $c-grey-6;
$modal-body-text-line-height: 1.5em;
$modal-body-text-font-weight: 300;
$modal-body-text-font-size: 1em;
$modal-footer-padding: 10px 25px;
$modal-footer-border-color: $c-grey-3;
$modal-footer-justify-content: flex-end;

// tabs
$tabs-wrap-background: $c-grey-1;
$tabs-wrap-border-color: $c-grey-2;
$tabs-wrap-shadow-color: $c-grey-3;
$tabs-wrap-border-radius: 4px;
$tabs-nav-border-color: $c-grey-2;
$tabs-nav-background: $c-grey-1;
$tabs-nav-item-color: $c-grey-4;
$tabs-nav-item-color-active: $c-purple;
$tabs-nav-item-font-size: $f-t2;
$tabs-nav-item-padding-horizontal: 50px;
$tabs-nav-item-padding-top: 23px;
$tabs-nav-item-padding-bottom: 17px;
$tabs-nav-item-border-color: transparent;
$tabs-nav-item-border-color-active: $c-purple;
$tabs-content-padding-vertical: 55px;
$tabs-content-padding-horizontal: 50px;
$tabs-content-background: #FBFBFB;
$tabs-content-color: $c-grey-6;
$tabs-content-font-size: $f-t1;
$tabs-content-line-height: 1.5em;

// forms
$form-item-margin: 15px;

$form-switch-bar-width: 40px;
$form-switch-bar-height: 12px;
$form-switch-bar-border-radius: 40px;
$form-switch-bar-margin-left: 3px;
$form-switch-bar-color: $c-grey-3;
$form-switch-bar-color-active: $c-purple;
$form-switch-bar-color-disabled: $c-grey-3;
$form-switch-circle-size: 23px;
$form-switch-circle-color: $c-grey-1;
$form-switch-circle-color-disabled: $c-grey-2;
$form-switch-circle-shadow-color: #1E242E;
$form-switch-circle-shadow-color-alpha: rgba($form-switch-circle-shadow-color, .5);
$form-switch-label-margin: 13px;
$form-switch-label-padding-top: 5px;
$form-switch-label-color: $c-grey-6;
$form-switch-label-font-size: $f-t2;

$form-checkbox-label-alignment: flex-start;
$form-checkbox-icon: "\e80d";
$form-checkbox-label-color: $c-grey-6;
$form-checkbox-label-font-size: $f-t2;
$form-checkbox-label-font-size-small: $f-t3;
$form-checkbox-label-margin: 14px;
$form-checkbox-label-margin-small: 10px;
$form-checkbox-label-padding-top: 5px;
$form-checkbox-label-padding-top-small: 0;
$form-checkbox-size: 24px;
$form-checkbox-size-small: 12px;
$form-checkbox-background: $c-grey-1;
$form-checkbox-background-checked: $c-purple;
$form-checkbox-background-disabled: $c-grey-2;
$form-checkbox-border-color: $c-grey-3;
$form-checkbox-border-color-hover: $c-grey-3;
$form-checkbox-border-color-checked: $c-purple;
$form-checkbox-border-color-disabled: $c-grey-3;
$form-checkbox-border-color-error: $c-orange;
$form-checkbox-icon-color: $c-grey-1;
$form-checkbox-icon-color-disabled: $c-grey-1;
$form-checkbox-icon-font-size: 12px;
$form-checkbox-icon-font-size-small: 6px;
$form-checkbox-border-radius: 2px;

$form-radio-label-color: $c-grey-6;
$form-radio-label-font-size: $f-t2;
$form-radio-label-margin: 14px;
$form-radio-label-padding-top: 5px;
$form-radio-size: 24px;
$form-radio-background: $c-grey-1;
$form-radio-background-checked: $c-grey-1;
$form-radio-background-disabled: $c-grey-2;
$form-radio-border-color: $c-grey-3;
$form-radio-border-color-checked: $c-purple;
$form-radio-border-width-checked: 7px;
$form-radio-border-color-disabled: $c-grey-3;
$form-radio-border-color-error: $c-orange;
$form-radio-border-radius: 12px;

$form-input-border-radius: 4px;
$form-input-height: 48px;
$form-input-background: $c-grey-1;
$form-input-background-disabled: $c-grey-2;
$form-input-padding: 8px;
$form-input-border-color: $c-grey-3;
$form-input-border-color-error: $c-orange;
$form-input-border-color-disabled: $c-grey-3;
$form-input-border-color-focus: $c-purple-2;
$form-input-text-color: $c-grey-6;
$form-input-text-font-size: $f-t2;
$form-input-box-shadow: none;
$form-input-box-shadow-focus: none;
$form-placeholder-color: $c-grey;

$form-prefix-width: 55px;
$form-suffix-width: 55px;
$form-icon-font-size: 14px;
$form-icon-color: $c-purple;
$form-icon-color-disabled: $c-grey;

$form-label-color: $c-grey-4;
$form-label-color-disabled: $c-grey-4;
$form-label-font-size: $f-t3;
$form-label-margin: 8px;

$form-toggle-show-password-color: $c-grey-4;
$form-toggle-show-font-size: $f-t4;

$form-error-color: $c-orange;
$form-error-font-size: $f-t3;
$form-error-margin: 8px;

// buttons
$button-radius: 4px;
$button-font-weight: 400;

$button-big-height: 48px;
$button-big-font-size: 14px;
$button-big-min-width: 140px;
$button-big-padding-horizontal: 10px;

$button-normal-height: 40px;
$button-normal-font-size: 14px;
$button-normal-min-width: 103px;
$button-normal-padding-horizontal: 10px;

$button-small-height: 32px;
$button-small-font-size: 12px;
$button-small-min-width: 83px;
$button-small-padding-horizontal: 10px;

$button-filled-color: $c-grey-1;
$button-filled-color-hover: $c-grey-1;
$button-filled-color-disabled: $c-grey;
$button-filled-bg: $c-purple;
$button-filled-bg-hover: $c-purple-4;
$button-filled-bg-disabled: $c-grey-2;

$button-outline-bg: $c-grey-1;
$button-outline-bg-disabled: $c-grey-2;
$button-outline-color: $c-grey-5;
$button-outline-color-hover: $c-grey-5;
$button-outline-color-disabled: $c-grey;
$button-outline-border: $c-grey-3;
$button-outline-border-hover: $c-grey-5;
$button-outline-border-disabled: $c-grey-3;

$button-outline-secondary-bg: $c-grey-1;
$button-outline-secondary-bg-disabled: $c-grey-2;
$button-outline-secondary-color: $c-purple;
$button-outline-secondary-color-hover: $c-purple-4;
$button-outline-secondary-color-disabled: $c-grey;
$button-outline-secondary-border: $c-purple;
$button-outline-secondary-border-hover: $c-purple-4;
$button-outline-secondary-border-disabled: $c-grey-3;

// Typography
$header-font_weight: 400;
$header-margin: 15px;
$h1: $f-h1;
$h2: $f-h2;
$h3: $f-h3;
$h4: $f-h4;
$h5: $f-h5;
$t1: $f-t1;
$t2: $f-t2;
$t3: $f-t3;
$t4: $f-t4;

$base-font_weight: 400;
$base-font_size: $t1;
$base-font_family: "Sequel Sans";
$base-color: $c-purple-6;

$paragraph-margin: 10px;

///////////////////////////////
//         STYLEGUIDE        //
///////////////////////////////

$sg-overlay-background: $c-grey-1;

// Header
$sg-header-padding-vertical: 10px;
$sg-header-padding-horizontal: 20px;
$sg-header-page_title-color: #000;
$sg-header-page_title-font_size: 15px;
$sg-header-page_title-font_weight: normal;
$sg-header-border_color: $c-grey-1;
$sg-header-background: $c-grey-1;
$sg-header-height: 40px;
$sg-header-box_shadow: 0 2px 4px 0 $c-grey-3;

// Sidebar
$sg-sidebar-background: $c-grey-2;
$sg-sidebar-color: $c-grey-4;
$sg-sidebar-padding_horizontal: 20px;

// Sidebar - logo
$sg-sidebar-logo-border_color: $c-grey-1;
$sg-sidebar-logo-background: $c-grey-1;
$sg-sidebar-logo-margin_bottom: 30px;
$sg-sidebar-logo-height: 40px;
$sg-sidebar-logo-color: #000;
$sg-sidebar-logo-box_shadow: 0 2px 4px 0 $c-grey-3;

// Sidebar - section header
$sg-sidebar-section_header-color: $c-grey-4;
$sg-sidebar-section_header-font_size: 12px;
$sg-sidebar-section_header-font_weight: bold;
$sg-sidebar-section_header-margin_bottom: 10px;

// Sidebar - nav
$sg-sidebar-nav-margin_bottom: 30px;
$sg-sidebar-nav-link-color: $c-purple;
$sg-sidebar-nav-link-color-hover: $c-purple-5;
$sg-sidebar-nav-link-font_size: 12px;
$sg-sidebar-nav-link-padding-vertical: 10px;
$sg-sidebar-nav-link-background: transparent;
$sg-sidebar-nav-link-background-hover: transparent;
