// Font Family
$f-family: Verdana, Tahoma;

// Font weights
$fw-normal: 400;
$fw-bold: 600;

$fw-header: $fw-normal; // Header font weight

// Line heights
$f-lh: 1.2em;
$f-lh--big: 1.4em;
$f-lh--small: 1em;

// Font Base
$f-base: 16px;
$f-base-lh: $f-lh;

// h1 - huge 40px
$f-h1: 2.5em;

// h2 - big 36px
$f-h2: 2.25em;

// h3 - medium 30px
$f-h3: 2em;

// h4 - normal 24px
$f-h4: 1.5em;

// h5 - small 20px
$f-h5: 1.25em;

// t1 - 16px
$f-t1: $f-base;

// t2 - 14px
$f-t2: .875em;

// t3 - 12px
$f-t3: .75em;

// t4 - 10px
$f-t4: .625em;
