.built-landing {
  &__wrap {
    overflow-y: auto;
  }

  &__header {
    background: $built-landing-header-background;
    padding: 60px 0 75px;

    &__inner {
      display: flex;
      align-items: center;
    }

    &__logo {
      margin-right: 40px;

      &__img {
        width: 109px;
        height: 139px;
      }
    }

    &__text {
      line-height: $built-landing-header-text-line-height;
      color: $built-landing-header-text-color;
      font-size: $built-landing-header-text-font-size;
      font-weight: $built-landing-header-text-font-weight;

      strong {
        color: $built-landing-header-built-text-color;
        font-weight: $built-landing-header-built-font-weight;
      }
    }
  }

  &__tabs {
    background: $built-landing-header-background;
  }

  &__content {
    padding: $built-landing-content-padding-vertical 0;
  }
}
